In [1]:
import pandas as pd

In [2]:
# Series Object is one-dimensional labeled array

In [3]:
s1 = pd.Series([1,2,3,4,5]) #Series
s1

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [6]:
s2 = pd.Series([1,2,3,4,5], index = ['Noriel', 'Achero', 'Hello', 'World', 'Haha']) #Series with Changing Index
s2

Noriel    1
Achero    2
Hello     3
World     4
Haha      5
dtype: int64

In [8]:
s3 = pd.Series({'a': 10, 'b': 20, 'c': 30}) # Series Object from Dictionary
s3

a    10
b    20
c    30
dtype: int64

In [10]:
s4 = pd.Series({'a': 10, 'b': 20, 'c': 30}, index = ['c', 'a', 'b']) # Dictionary Change with Index
s4

c    30
a    10
b    20
dtype: int64

In [11]:
s5 = pd.Series([1,2,3,4,5,6,7,8,9]) # Extracting Single Element
s5[5]

6

In [13]:
s6 = pd.Series([1,2,3,4,5,6,7,8,9]) # Extracting From Sequence
s6[:5]

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [14]:
s7 = pd.Series([1,2,3,4,5,6,7,8,9]) # Extracting From Sequence from Back
s7[-3:]

6    7
7    8
8    9
dtype: int64

In [16]:
s8 = pd.Series([1,2,3,4,5,6,7,8,9]) # Basic Math Operations on Series
s8 + 10 # Addition on Elements

0    11
1    12
2    13
3    14
4    15
5    16
6    17
7    18
8    19
dtype: int64

In [17]:
s9 = pd.Series([1,2,3,4,5,6,7,8,9]) # Addition on two Series Objects
s10 = pd.Series([1,2,3,4,5,6,7,8,9])

s9 + s10

0     2
1     4
2     6
3     8
4    10
5    12
6    14
7    16
8    18
dtype: int64